.Rproj.user
.Rhistory
.RData
.Ruserdata
outputs/Rtutorials/poly_matrix_nyc.rds
outputs/Rtutorials/poly_matrix_bronx3segs.rds
applications/application1_traffic_covid_roadsegments.R
outputs/applications/manuscript_fig4_road_segs_timeplot.tif
data/polygons_of_interest/bronx_3_street_segments_buffered/street_segs_buffered_.0001.cpg
data/polygons_of_interest/bronx_3_street_segments_buffered/street_segs_buffered_.0001.dbf
data/polygons_of_interest/bronx_3_street_segments_buffered/street_segs_buffered_.0001.prj
data/polygons_of_interest/bronx_3_street_segments_buffered/street_segs_buffered_.0001.shp
data/polygons_of_interest/bronx_3_street_segments_buffered/street_segs_buffered_.0001.shx
